# OMOLOLA OGUNNAIKE
# Batch number: DS2402

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url =
https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [4]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium.webdriver.common.keys import Keys
import requests
import re
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [5]:
# Initialize the WebDriver
driver = webdriver.Chrome()
driver.maximize_window()

In [3]:
# Open the Wikipedia website
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
# Find all table rows on the page that contains the dataset details
table = driver.find_element(By.XPATH, '/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]')

In [5]:
# Create empty lists to store the details
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

# Iterating through each of the rows of the table
rows = table.find_elements(By.TAG_NAME, 'tr')[1:]

for row in rows:
    columns = row.find_elements(By.TAG_NAME, 'td')
    if len(columns) > 0:
    
        rank = columns[0].text
        name = columns[1].text
        artist = columns[2].text
        upload_date = columns[4].text
        views = columns[3].text

        Rank.append(rank)
        Name.append(name)
        Artist.append(artist)
        Upload_date.append(upload_date)
        Views.append(views)

# Create a DataFrame to store the data and display the result
data = {
    'Rank': Rank,
    'Name': Name,
    'Artist': Artist,
    'Upload Date': Upload_date,
    'Views': Views
}
df = pd.DataFrame(data)

df

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.36
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.26
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.80
3,4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.41
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.08
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.03
6,7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.56
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.48
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.03
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.97
10,11.,"""Gangnam Style""[30]",officialpsy,"July 15, 2012",4.90
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[36]",Ultra Records,"April 5, 2018",4.44
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.06
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.93
15,16.,"""Counting Stars""[39]",OneRepublic,"May 31, 2013",3.87
16,17.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.87
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.78
18,19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.73
19,20.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.71
20,21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.69
21,22.,"""Thinking Out Loud""[45]",Ed Sheeran,"October 7, 2014",3.66
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.59
23,24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.55
24,25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.54
25,26.,"""Faded""[49]",Alan Walker,"December 3, 2015",3.51
26,27.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.51
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.48
28,29.,"""Lean On""[52]",Major Lazer Official,"March 22, 2015",3.46
29,30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.45

In [6]:
# Close the browser
driver.quit()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [7]:
# Initialize the WebDriver
driver = webdriver.Chrome()
driver.maximize_window()

In [8]:
# Open the bcci.tv website
driver.get("https://www.bcci.tv/")

# Wait for some time to load the page
time.sleep(6)

In [9]:
#close the cookies pop up
cookies_acccept = driver.find_element(By.XPATH,'/html/body/div[17]/button')
cookies_acccept.click()

In [10]:
#click the international tab
international_click = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international_click.click()

# Wait for some time to load the fixtures page
time.sleep(3)

In [11]:
# Click on the "Fixtures" link
for x in range(0,4):
    more_fixtures = driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button")
    more_fixtures.click()
    time.sleep(4)

In [12]:
# Create empty lists to store the details
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

Fixtures=[]

fixtures = driver.find_elements(By.XPATH, "//div[@class='match-card ng-scope']")
for i in fixtures:
    Fixtures.append(i.text)
    
for fixture in Fixtures:
    try:
        fixture = fixture.split('\n')
        # get the list item index location having the symbol '-' 
        index = [i for i, item in enumerate(fixture) if '-' in str(item)]
        
        # check if the selected series and place has the symbol '-'
        if '-' in str(fixture[max(index)]):
            new_str = str(fixture[max(index)]).split('-')
            Series.append(new_str[0])
            Place.append(new_str[1])
            Match_title.append(fixture[0])
            Date.append(fixture[1])
            Time.append(fixture[2])
        # do this if the series and place does not have the symbol '-' 
        else:
            print(fixture)
   
    except Exception as e:
        print(e)
    
        
#Creating DataFrame and display the result
df = pd.DataFrame({
    'Match Title':Match_title,
    'Series':Series,
    'Place':Place,
    'Date':Date,
    'Time':Time})
df

,Match Title,Series,Place,Date,Time
0,19TH ASIAN GAMES HANGZHOU 2022,Quarter Final 1,"Pingfeng Cricket Field, Hangzhou",21 SEP 2023,2:00 AM BST
1,AUSTRALIA TOUR OF INDIA 2023-24,1st ODI,"Punjab Cricket Association IS Bindra Stadium,...",22 SEP 2023,9:00 AM BST
2,AUSTRALIA TOUR OF INDIA 2023-24,2nd ODI,"Holkar Cricket Stadium, Indore",24 SEP 2023,9:00 AM BST
3,AUSTRALIA TOUR OF INDIA 2023-24,3rd ODI,"Saurashtra Cricket Association Stadium, Rajkot",27 SEP 2023,9:00 AM BST
4,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,1st ODI,"Barsapara Cricket Stadium, Guwahati",30 SEP 2023,9:30 AM BST
5,19TH ASIAN GAMES HANGZHOU 2022,1st T20I,"Pingfeng Cricket Field, Hangzhou",3 OCT 2023,2:00 AM BST
6,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,2nd ODI,"Greenfield International Stadium, Thiruvanant...",3 OCT 2023,9:30 AM BST
7,ICC MENS WORLD CUP 2023,1st ODI,"MA Chidambaram Stadium, Chennai",8 OCT 2023,9:30 AM BST
8,ICC MENS WORLD CUP 2023,2nd ODI,"Arun Jaitley Stadium, Delhi",11 OCT 2023,9:30 AM BST
9,ICC MENS WORLD CUP 2023,3rd ODI,"Narendra Modi Stadium, Ahmedabad",14 OCT 2023,9:30 AM BST
10,ICC MENS WORLD CUP 2023,4th ODI,"Maharashtra Cricket Association Stadium, Pune",19 OCT 2023,9:30 AM BST
11,ICC MENS WORLD CUP 2023,5th ODI,"Himachal Pradesh Cricket Association Stadium,...",22 OCT 2023,9:30 AM BST
12,ICC MENS WORLD CUP 2023,6th ODI,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,29 OCT 2023,8:30 AM BST
13,ICC MENS WORLD CUP 2023,7th ODI,"Wankhede Stadium, Mumbai",2 NOV 2023,8:30 AM BST
14,ICC MENS WORLD CUP 2023,8th ODI,"Eden Gardens, Kolkata",5 NOV 2023,8:30 AM BST
15,ICC MENS WORLD CUP 2023,9th ODI,"M Chinnaswamy Stadium, Bengaluru",12 NOV 2023,8:30 AM BST
16,AUSTRALIA TOUR OF INDIA 2023-24,1st T20I,Dr YS Rajasekhara Reddy ACA,23 NOV 2023,1:30 PM BST
17,AUSTRALIA TOUR OF INDIA 2023-24,2nd T20I,"Greenfield International Stadium, Thiruvanant...",26 NOV 2023,1:30 PM BST
18,AUSTRALIA TOUR OF INDIA 2023-24,3rd T20I,"Barsapara Cricket Stadium, Guwahati",28 NOV 2023,1:30 PM BST
19,AUSTRALIA TOUR OF INDIA 2023-24,4th T20I,"Vidarbha Cricket Association Stadium, Nagpur",1 DEC 2023,1:30 PM BST
20,AUSTRALIA TOUR OF INDIA 2023-24,5th T20I,"Rajiv Gandhi International Stadium, Hyderabad",3 DEC 2023,1:30 PM BST
21,INDIA TOUR OF SOUTH AFRICA 2023-24,1st T20I,"Kingsmead, Durban",10 DEC 2023,4:00 PM BST
22,INDIA TOUR OF SOUTH AFRICA 2023-24,2nd T20I,"St George's Park, Gqeberha",12 DEC 2023,4:00 PM BST
23,INDIA TOUR OF SOUTH AFRICA 2023-24,3rd T20I,"The Wanderers Stadium, Johannesburg",14 DEC 2023,4:00 PM BST
24,INDIA TOUR OF SOUTH AFRICA 2023-24,1st ODI,Johannesburg,17 DEC 2023,8:30 AM BST
25,INDIA TOUR OF SOUTH AFRICA 2023-24,2nd ODI,"St George's Park, Gqeberha",19 DEC 2023,8:30 AM BST
26,INDIA TOUR OF SOUTH AFRICA 2023-24,3rd ODI,"Boland Park, Paarl",21 DEC 2023,8:30 AM BST
27,INDIA TOUR OF SOUTH AFRICA 2023-24,1st Test,"SuperSport Park, Centurion",26 DEC 2023,8:00 AM BST
28,INDIA TOUR OF SOUTH AFRICA 2023-24,2nd Test,"Newlands, Cape Town",3 JAN 2024,8:00 AM BST
29,AFGHANISTAN TOUR OF INDIA 2023-24,1st T20I,"Punjab Cricket Association IS Bindra Stadium,...",11 JAN 2024,1:30 PM BST
30,AFGHANISTAN TOUR OF INDIA 2023-24,2nd T20I,"Holkar Cricket Stadium, Indore",14 JAN 2024,1:30 PM BST
31,AFGHANISTAN TOUR OF INDIA 2023-24,3rd T20I,"M Chinnaswamy Stadium, Bengaluru",17 JAN 2024,1:30 PM BST
32,ENGLAND TOUR OF INDIA 2023-24,1st Test,"Rajiv Gandhi International Stadium, Hyderabad",25 JAN 2024,4:00 AM BST
33,ENGLAND TOUR OF INDIA 2023-24,2nd Test,Dr YS Rajasekhara Reddy ACA,2 FEB 2024,4:00 AM BST
34,ENGLAND TOUR OF INDIA 2023-24,3rd Test,"Saurashtra Cricket Association Stadium, Rajkot",15 FEB 2024,4:00 AM BST
35,ENGLAND TOUR OF INDIA 2023-24,4th Test,"JSCA International Stadium Complex, Ranchi",23 FEB 2024,4:00 AM BST
36,ENGLAND TOUR OF INDIA 2023-24,5th Test,"Himachal Pradesh Cricket Association Stadium,...",7 MAR 2024,4:00 AM BST

In [13]:
# Close the WebDriver
driver.quit()

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A)
Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [14]:
# Initialize the WebDriver
driver = webdriver.Chrome()
driver.maximize_window()

In [15]:
# Open the statisticstime.com website
driver.get("http://statisticstimes.com/")

# Wait for some time to load the fixtures page
time.sleep(4)

In [16]:
#click the economy tab
economy_click = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy_click.click()

In [17]:
#click the india tab
india_click = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india_click.click()

In [18]:
# Click on "GDP of Indian states" in the submenu
india_states = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
india_states.click()

In [19]:
#click the privacy tab
privacy_click = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/div/div[2]/div/button[2]')
privacy_click.click()

In [20]:
# Create empty lists to store the details
Rank=[]
State=[]
GSDP_18=[]
GSDP_19=[]
Share_18=[]
GDP_billion=[]

GSDP_STATES=[]

gsdp_state = driver.find_elements(By.XPATH, "/html/body/div[4]/div[2]/div[5]/div[1]/div")

for i in gsdp_state:
    GSDP_STATES.append(i.text)
    
ranks=driver.find_elements(By.XPATH,"//table[@id='table_id']//tr/td[1]")
for r in ranks:
    Rank.append(r.text)
    
state=driver.find_elements(By.XPATH,"//table[@id='table_id']//tr/td[2]")
for s in state:
    State.append(s.text)
    
GSDP18=driver.find_elements(By.XPATH,"//table[@id='table_id']//tr/td[4]")
for g in GSDP18:
    GSDP_18.append(g.text)
        
GSDP19=driver.find_elements(By.XPATH,"//table[@id='table_id']//tr/td[3]")
for j in GSDP19:
    GSDP_19.append(j.text)            
      
Share18=driver.find_elements(By.XPATH,"//table[@id='table_id']//tr/td[5]")
for s in Share18:
    Share_18.append(s.text)           
       
GDPbillion=driver.find_elements(By.XPATH,"//table[@id='table_id']//tr/td[6]")
for i in GDPbillion:
    GDP_billion.append(i.text)

In [21]:
#creating dataframe and display the result
df=pd.DataFrame({
    'Ranks':Rank,
    'States':State,
    'GSDP(18-19)- at current price)':GSDP_18,
    'GSDP(19-20)- at current prices)':GSDP_19,
    'Share(18-19)':Share_18,
    'GDP($ billion)':GDP_billion
})
df

,Ranks,States,GSDP(18-19)- at current price),GSDP(19-20)- at current prices),Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-
33,,India,"18,886,957","20,351,013",,"2,869"

In [22]:
# Close the WebDriver
driver.quit()

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [23]:
# Initialize the WebDriver
driver = webdriver.Chrome()
driver.maximize_window()

In [24]:
# Open the Github.com website
driver.get(" https://github.com/")

# Wait for some time to load the fixtures page
time.sleep(3)

In [25]:
#click the open source tab
opensource_click = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
opensource_click.click()

In [26]:
#click the trending tab
Trending_click = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
Trending_click.click()

In [27]:
# Create empty lists to store the details
Repository_Title = []
Repository_Description = []
Countributors_count = []
Language_used = []

# Scraping the data 
title= driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for t in title:
    Repository_Title.append(t.text)

try:
    repository_desc = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for r in repository_desc:
        Repository_Description.append(r.text)
except NoSuchElementException:
    pass

try:
    countributors = driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
    for c in countributors:
        Countributors_count.append(c.text)
except NoSuchElementException:
    pass

try:
    language_used = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for l in language_used:
        Language_used.append(l.text)
    if len(Language_used) < len(Repository_Title):
        diff = len(Repository_Title) - len(Language_used)
        for i in range(diff):
            Language_used.append('-')
except NoSuchElementException:
    Language_used.append('-')
    pass

In [28]:
#displaying the length of items in appended list
print(len(Repository_Title),len(Repository_Description),len(Countributors_count),len(Language_used))

25 25 25 25

In [29]:

#Creating a dictionary from the extracted data
data = {
    "Repository Title": Repository_Title,
    "Repository Description": Repository_Description,
    "Countributors count": Countributors_count,
    "Language used": Language_used
}
#Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the DataFrame
df

,Repository Title,Repository Description,Countributors count,Language used
0,coqui-ai / TTS,🐸💬 - a deep learning toolkit for Text-to-Speec...,"2,129",Python
1,williamyang1991 / Rerender_A_Video,Rerender A Video: Zero-Shot Text-Guided Video-...,51,Jupyter Notebook
2,aiwaves-cn / agents,An Open-source Framework for Autonomous Langua...,124,Python
3,nuejs / nuejs,Build user interfaces with cleaner code. Alter...,55,JavaScript
4,makeplane / plane,"🔥 🔥 🔥 Open Source JIRA, Linear and Height Alte...",641,TypeScript
5,usememos / memos,"A privacy-first, lightweight note-taking servi...","1,340",Go
6,NExT-GPT / NExT-GPT,Code and models for NExT-GPT: Any-to-Any Multi...,60,Python
7,farhanashrafdev / 90DaysOfCyberSecurity,This repository contains a 90-day cybersecurit...,105,TypeScript
8,honghuangdc / soybean-admin,"A fresh and elegant admin template, based on V...","1,069",Go
9,meshery / meshery,"Meshery, the cloud native manager","1,198",Python
10,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,"13,197",HTML
11,WooooDyy / LLM-Agent-Paper-List,"The paper list of the 86-page paper ""The Rise ...",62,Java
12,daveshap / ACE_Framework,Public repo for my latest and greatest cogniti...,34,Python
13,ripienaar / free-for-dev,"A list of SaaS, PaaS and IaaS offerings that h...","8,082",Python
14,NationalSecurityAgency / ghidra,Ghidra is a software reverse engineering (SRE)...,"5,231",C
15,public-apis / public-apis,A collective list of free APIs,"29,240",Python
16,lllyasviel / ControlNet,Let us control diffusion models!,"2,207",Java
17,grafana / beyla,eBPF-based autoinstrumentation of HTTP and HTT...,18,Jupyter Notebook
18,sczhou / ProPainter,[ICCV 2023] ProPainter: Improving Propagation ...,54,Rust
19,apache / incubator-kie-drools,"Drools is a rule engine, DMN engine and comple...","2,455",TypeScript
20,Pierian-Data / Complete-Python-3-Bootcamp,Course Files for Complete Python 3 Bootcamp Co...,"80,974",Go
21,bevyengine / bevy,A refreshingly simple data-driven game engine ...,"2,619",-
22,KenneyNL / Godot-SplashScreens,Over 30 splash screens to use in Godot,19,-
23,TabbyML / tabby,Self-hosted AI coding assistant,330,-
24,hteen / apple-store-helper,Apple Store iPhone预约助手,152,-

In [30]:
# Close the WebDriver
driver.quit()

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [31]:
# Initialize the WebDriver
driver = webdriver.Chrome()
driver.maximize_window()

In [32]:
# Open the billiboard.com website
driver.get("https:/www.billboard.com/")

# Wait for some time to load the fixtures page
time.sleep(2)

In [33]:
#accept the GDPR pop-up
gdpr_click = driver.find_element(By.XPATH,'//div[@class="banner-actions-container"]/button[2]')
gdpr_click.click()

In [35]:
#click the charts tab
charts_click = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts_click.click()

In [38]:
#click the billboardhot100 tab
hot100_click = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span')
hot100_click.click()

In [39]:
#Create empty lists for the features
Song_name = []
Artist_name = []
Last_weekrank = []
Peak_rank = []
Weeks_onboard = []

# Scraping the data
song_name= driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li/h3')
for s in song_name:
    Song_name.append(s.text)

    
try:
    artist_name = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li[1]/span')
    for a in artist_name:
        Artist_name.append(a.text)
except NoSuchElementException:
    pass

try:
    last_weekrank = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li[4]')
    for l in last_weekrank:
        Last_weekrank.append(l.text)
except NoSuchElementException:
    pass

try:
    peak_rank = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li[5]')
    for p in peak_rank:
        Peak_rank.append(p.text)
except NoSuchElementException:
    pass

try:
    weeks_onboard = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li[6]')
    for w in weeks_onboard:
        Weeks_onboard.append(w.text)
except NoSuchElementException:
    pass

In [40]:
# Create a DataFrame to store the data and display the result
data = {
    'Song Name': Song_name,
    'Artist Name': Artist_name,
    'Last Week Rank': Last_weekrank,
    'Peak Rank': Peak_rank,
    'Weeks On Board': Weeks_onboard
}
df = pd.DataFrame(data)

df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Vampire,Olivia Rodrigo,9,1,11
1,Paint The Town Red,Doja Cat,1,1,6
2,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,2,1,3
3,Fast Car,Luke Combs,3,2,25
4,Cruel Summer,Taylor Swift,4,3,19
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,9
96,Sittin' On Top Of The World,Burna Boy,86,80,3
97,Rubicon,Peso Pluma,95,63,11
98,TQM,Fuerza Regida,89,34,17
99,Amargura,Karol G,91,85,5

In [41]:
# Close the WebDriver
driver.quit()

6. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
Scrape the details of Highest selling novels.
compare
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [42]:
# Initialize the WebDriver
driver = webdriver.Chrome()
driver.maximize_window()

In [43]:
# Open the guardian website
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

# Wait for some time to load the fixtures page
time.sleep(3)

In [44]:
#Create empty lists for the features
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

# Scraping the data 
name= driver.find_elements(By.XPATH,'//td[@class="left"][2]')
for s in name:
    Book_name.append(s.text)

try:
    author = driver.find_elements(By.XPATH,'//td[@class="left"][3]')
    for a in author:
        Author_name.append(a.text)
except NoSuchElementException:
    pass

try:
    volume = driver.find_elements(By.XPATH,'//td[@class="left"][4]')
    for l in volume:
        Volumes_sold.append(l.text)
except NoSuchElementException:
    pass

try:
    publisher = driver.find_elements(By.XPATH,'//td[@class="left"][5]')
    for p in publisher:
        Publisher.append(p.text)
except NoSuchElementException:
    pass

try:
    genre = driver.find_elements(By.XPATH,'//td[@class="last left"]')
    for g in genre:
        Genre.append(g.text)
except NoSuchElementException:
    pass

In [45]:
# Create a DataFrame to store the data nd display the result
data = {
    'Book Name': Book_name,
    'Author Name': Author_name,
    'Volume Sold': Volumes_sold,
    'Publisher': Publisher,
    'Genre': Genre
}
df = pd.DataFrame(data)

df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [46]:
# Close the WebDriver
driver.quit()

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls512407256/You
have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [6]:
# Initialize the WebDriver
driver = webdriver.Chrome()
driver.maximize_window()

In [7]:
# Open the imdb.com website
driver.get("https://www.imdb.com/list/ls512407256/")

# Wait for some time to load the fixtures page
time.sleep(3)

In [8]:
# Create empty lists to store the details
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

# Scraping the data
series_name= driver.find_elements(By.XPATH,'//div/h3[@class="lister-item-header"]/a')
for series in series_name:
    Name.append(series.text)


try:
    year_span = driver.find_elements(By.XPATH,'//div/h3[@class="lister-item-header"]/span[2]')
    for y in year_span:
        Year_span.append(y.text)
except NoSuchElementException:
    pass


try:
    genre= driver.find_elements(By.CLASS_NAME,'genre')
    for g in genre:
        Genre.append(g.text)
except NoSuchElementException:
    pass


try:
    runtime = driver.find_elements(By.CLASS_NAME,'runtime')
    for p in runtime:
        Run_time.append(p.text)
except NoSuchElementException:
    pass

try:
    rating = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
    for r in rating:
        Ratings.append(r.text)
except NoSuchElementException:
    pass


try:
    votes = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]')
    for v in votes:
        vote_value = str(v.text)
        if ':' in vote_value:
            vote_value = vote_value.split(':')
        Votes.append(vote_value[1])
except NoSuchElementException:
    pass

In [9]:
#displaying the length of items in appended list
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

0 0 0 0 0 0

In [51]:
#Creating a dictionary from the extracted data
data = {
    "Names": Name,
    "Year Span": Year_span,
    "Genres": Genre,
    "Run Time": Run_time,
    "Rating": Ratings,
    "Vote": Votes
}
#Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the DataFrame
df

,Names,Year Span,Genres,Run Time,Rating,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,204,981"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,276,363"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,046,219"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"307,478"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"266,557"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,746"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,810"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,105"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,918"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"266,181"

In [52]:
# Close the WebDriver
driver.quit()

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute 
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [53]:
# Initialize the WebDriver
driver = webdriver.Chrome()
driver.maximize_window()

In [54]:
# Open the UCI machine learning repositories website
driver.get("https://archive.ics.uci.edu/")

# Wait for some time to load the fixtures page
time.sleep(3)

In [55]:
#click the policy tab
policy_click = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/div/div[2]/button')
policy_click.click()

In [56]:
# Find and click on the "View All Data Sets" link
view_datasets = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/footer/div[3]/a[2]')
view_datasets.click()

In [57]:
# Create empty lists to store the details
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

#fetching all the required data from all 647 pages
for x in range(0, 600):
    try:
        drop_down = driver.find_elements(By.XPATH, '//div[@class="relative col-span-8 sm:col-span-7"]/*[name()="svg"]')
        for i in drop_down:
            if i is not None:
                i.click()
                time.sleep(1)
        
        dataset_name = driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2')
        for i in dataset_name:
            if str(i.text) == ' ' or str(i.text) == None or str(i.text) == 'N/A':
                Dataset_name.append('-')
            else:
                Dataset_name.append(i.text)

        data_type=driver.find_elements(By.XPATH,'//div/table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
        for i in data_type:
            if str(i.text) == ' ' or str(i.text) == None or str(i.text) == 'N/A':
                Data_type.append('-')
            else:
                Data_type.append(i.text)

        task=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]/span')
        for i in task:
            if str(i.text) == ' ' or str(i.text) == None or str(i.text) == 'N/A':
                Task.append('-')
            else:
                Task.append(i.text)

        attribute_type=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]/span')
        for i in attribute_type:
            if str(i.text) == ' ' or str(i.text) == None or str(i.text) == 'N/A':
                Attribute_type.append('-')
            else:
                Attribute_type.append(i.text)

        instances=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]/span')
        for i in instances:
            if str(i.text) == ' ' or str(i.text) == None or str(i.text) == 'N/A':
                No_of_instances.append('-')
            else:
                No_of_instances.append(i.text)

        attribute=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]/span')
        for i in attribute:
            if str(i.text) == ' ' or str(i.text) == None or str(i.text) == 'N/A':
                No_of_attribute.append('-')
            else:
                No_of_attribute.append(i.text)

        year=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
        for i in year:
            if str(i.text) == ' ' or str(i.text) == None or str(i.text) == 'N/A':
                Year.append('-')
            else:
                Year.append(i.text)


        clicknxt=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')
        clicknxt.click()
        time.sleep(1)
        
    except Exception as e:
        break

In [58]:
Dataset_name = Dataset_name[:500]
Data_type = Data_type[:500]
Task = Task[:500]
Attribute_type = Attribute_type[:500]
No_of_instances = No_of_instances[:500]
No_of_attribute = No_of_attribute[:500]
Year = Year[:500]

In [59]:
#displaying the length of items in appended list
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year))

500 500 500 500 500 500 500

In [60]:
# Create a DataFrame to store the data nd display the result
df=pd.DataFrame({
    'Dataset Name':Dataset_name,
    'Data Type':Data_type,
    'Task':Task,
    'Attribute Type':Attribute_type,
    'No of Instances':No_of_instances,
    'No of Attribute':No_of_attribute,
    'Year':Year
})
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Real,Classification,Tabular,150 Instances,4 Features,7/1/1988
1,Heart Disease,"Categorical, Integer, Real",Classification,Multivariate,303 Instances,13 Features,7/1/1988
2,Adult,"Categorical, Integer",Classification,Multivariate,48.84K Instances,14 Features,5/1/1996
3,Dry Bean Dataset,"Integer, Real",Classification,Multivariate,13.61K Instances,16 Features,9/14/2020
4,Diabetes,"Categorical, Integer",20 Features,Tabular,178 Instances,13 Features,-
...,...,...,...,...,...,...,...
495,Hill-Valley,"Categorical, Integer",Classification,Multivariate,10.55K Instances,22 Features,-
496,GNFUV Unmanned Surface Vehicles Sensor Data,-,"Classification, Causal-Discovery",Multivariate,10K Instances,67 Features,4/25/2019
497,MEx,,"Classification, Clustering","Multivariate, Sequential, Time-Series",40K Instances,2 Features,5/25/2016
498,Wilt,Real,Classification,Multivariate,76K Instances,7 Features,12/13/2017
499,Record Linkage Comparison Patterns,"Integer, Real",Classification,Multivariate,2.6K Instances,5 Features,9/10/2015

In [61]:
# Close the WebDriver
driver.quit()